$body-font-family-new: "Roboto Mono", monospace;
$body-heading-font-family: "Inter", sans-serif;
$yellow-color: rgba(255, 186, 0, 1);
$blue-color: rgba(0, 38, 87, 1);
$dark-blue-color: rgba(34, 36, 48, 1);
$dark-blue-color-2: rgb(41, 42, 53);
$light-blue-color: rgba(239, 247, 250, 1);
$white-color: rgba(255, 255, 255, 1);
$light-grey-color:rgba(46, 48, 46, 1);
$light-grey-color-2:rgba(70, 79, 110, 1);
$light-grey-color-3:#EFF7FA;
$light-grey-color-4:#434C6C;
$grey-color:#2E302E;
$upper-case: uppercase;
$text-white: #fff;
$grid-container-max-width: 1264px;