@import "variables";
@import "functions";


body{
  font-family: $body-font-family-new;
  color: $grey-color;
  line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style:normal;
}





/** header styles **/

header {

  .grid-container {
        max-width: 1440px;
  }
  .top-bar{

    background-color: $yellow-color;
    padding-top: 0.25em;
    padding-bottom: 0.25em;

    p {
      padding: 0;
      text-transform: $upper-case;
      margin: 0;;
      font-size: .75em;
    }

  }

  .navigation {
    padding-top: 5.5px;
    padding-bottom: 5.5px;
  }

  .toggle-menu {

    padding-left: 1.5em;
    padding-right: 1em;

    @media screen and (max-width: 64em) {
      padding-left: .5em;
    }

    img {

      max-height:1.6em;

      @media screen and (max-width: 64em) {
        max-height: 1em;
      }
    }

    
  }

  .logo img {

    max-height:4.6em;

  }

  .navCTA {
    
    margin-left: auto;

    img {
      max-height: 1.3em;
      margin-left: 18px;
      margin-right: 29px;

      @media screen and (max-width: 64em) {
        margin-right: 10px;
        margin-left: 10px;
      }

    }

    button {

      @include ctaButton(13px 40.5px, 18px, $dark-blue-color, 1.95em);
      text-transform: $upper-case;
      margin: 0;

      @media screen and (max-width: 64em) {
        @include ctaButton(10px 20px, 14px, $dark-blue-color, 1.95em);
      }

    }

  }

}

/** Main Section **/

.grid-container {
  max-width: $grid-container-max-width;
}

.light-blue-bg {
  background-color: $light-blue-color;
}

/** Hero Section **/

.hero-banner {

  background: linear-gradient( 232deg , rgba(70, 78, 112, 1) 0% , rgba(32, 55, 70, 1) 100% );
  color: $text-white;
  padding-top:59px;
  padding-bottom: 71px;

  @media screen and (max-width: 64em) {
      text-align: center;
      @include headTitleText(50px, 52px, $white-color, 37px, $upper-case);
  }

  h1 {
    text-transform: $upper-case;
    font-size: 64px;
    font-weight: 900;
    font-style: normal;
    letter-spacing: -1.07px;
    line-height: 55px;
    margin-bottom: 19px;

    @media screen and (max-width: 64em) {
      text-align: center;
      @include headTitleText(50px, 52px, $white-color, 37px, $upper-case);
    }

  }
  p {
    text-transform: $upper-case;
    font-size: 18px;
    margin-bottom: 21px; 

    @media screen and (max-width: 64em) {
      text-align: center;
    }

  }

  button {

      @include ctaButton(15.5px 102.5px, 18px, $yellow-color, 1.95em);
      text-transform: $upper-case;
      margin: 0;
      color: #111;
      line-height: 24px;

      @media screen and (max-width: 64em) {
        margin: 0 auto;
      }
  }

  .testimonial-card {
    
    margin-top: 170px;

    @media screen and (max-width: 64em) {
      margin-top: 35px;
    }

    p {
      line-height: 24px;
      margin-top: 15px;
      margin-bottom: 18px;
      text-transform: $upper-case;  

    }

    img {
      max-height: 39px;
    }


    .author {
      font-size: 14px;
      p {
        margin-left: 10px;
      }

      @media screen and (max-width: 64em) {
        margin: 0 auto;
        width: fit-content;
      }

    }

  }

  @media screen and (min-width: 64em) {
    .hero-img {
      width: 611px !important;
      position: absolute;
      margin-left: -200px;
      z-index: 0;
      margin-top: -31px;
    }

  }
  
}

/** About Us Section **/

.about-us-section {

  padding-top: 42px;
  padding-bottom: 67px;

  @media screen and (max-width:40em ) {
    text-align: center;
  }
  .headline {

    .highlightText {

      @include highlightText();

      padding:14px 25px 18px;
      margin-bottom: 82px;
      text-align: center;
      width: 100%;
      display: block;

    }

  }

  .about-information {
  
    h2 {
      @include headTitleText(80px, 72px, $grey-color, 37px, $upper-case);
    }

    p {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 53px;
    }

    ul {
      @include customBullet();
    }

    img {
      max-height: 670px;
    }

  }

  
}

/** Features Section **/

.featured-icons-section {
  
  background-color: $light-blue-color;
  padding-bottom: 58px;

  .grid-container {
    background-color: $white-color;
    border-radius: 35px;
  }

  .featured-icons-list {

    .item {

      .icon-card {

        padding: 74px 38px;
        display:flex;
        flex-direction: row;
        align-items: center;

        .img-thumb {
          min-width: 135px;
          height: 135px;
          border-radius: 150px;
          display: block;
          margin-right: 19px;
          
          img {
            width: 100%;
          }

        }
        
        h3 {
          color: $light-grey-color;
          line-height: 24px;
          font-size: 18px;
          font-weight: 400;
          font-family: $body-font-family-new;
        }

      }

    }

  }

}

/** Product Section **/

.product-section {

  background-color: $light-blue-color;
  border-bottom: 1px solid $light-grey-color-2;

  .grid-container {
    padding-top: 58px;
    padding-bottom: 79px;
  }

  .headline {

    text-align: center;

    p {
      font-size: 18px;
      margin-bottom: 37px;
    }

    img {
      max-height: 109px;
      margin-bottom: 35px;
      border-radius: 50px;
    }

    h2 {
      @include headTitleText(80px, 52px, $grey-color, 90px, $upper-case);

      @media screen and (max-width:64em) {
        @include headTitleText(80px, 72px, $grey-color, 90px, $upper-case);
      }

    }

  }

  .product-icons {

    gap: 134px;

    @media screen and (min-width:40em) and (max-width:64em) {
      gap:30px;
    }
    
    .item {

      width: calc(33.33% - 134px);

      @media screen and (min-width:40em) and (max-width:64em) {
        width: calc(33.33% - 30px);
      }

      @media screen and (max-width:40em) {
        width: 100%;
      }

      .img-thumb {

        border-radius: 50px;

        .num-icon {
        width: 50px;
        height: 50px;
        background-color: $white-color;
        font-family: $body-heading-font-family;
        font-size: 26px;
        text-align: center;
        position: absolute;
        margin-top: 26px;
        margin-left: 26px;
        border-radius: 50px;
        border: 1.5px solid $grey-color;
        z-index: 2;
        display: block;
        line-height: 46px;
        font-weight: 900;
      }

      }

    }

    .icon-card {

      margin-top: 22px;
      display: flex;
      flex-direction: row;
      align-items: center;

      .prod-thumb {
        max-width: 80px;
        margin-right: 30px;
        display: block;
      }

      h3 {
        color: $light-grey-color;
        line-height: 24px;
        font-size: 18px;
        font-weight: 400;
        font-family: $body-font-family-new;
      }

    }

  }

}

/** Result Section **/

.result-section {

  background-color: $light-blue-color;
  padding-top: 73px;

  h2 {
      @include headTitleText(50px, 52px, $grey-color, 26px, $upper-case);
      text-transform: $upper-case;
      margin-bottom: 26px;
  }

  .hero-banner-2 {

    background-image: url(../images/AdobeStock_450000130-1.jpg);
    background-position: center;
    background-size: cover;
    min-height: 756px;

    @media screen and (max-width: 40em) {
        min-height: unset;
    }

    p {
      @include headTitleText(50px, 52px, $light-grey-color-3, 0, $upper-case);
      font-weight: 900;
      font-family: $body-heading-font-family;

      @media screen and (max-width: 40em) {
        @include headTitleText(30px, 32px, $light-grey-color-3, 0, $upper-case);
        padding-top: 20%;
        padding-bottom: 20%;
      }

    }

  }

  .benifits-list {
    background-color: $light-blue-color;
    ul {
      @include customBullet();
      margin-top: 30px;
      display: inline-flex;
      align-items: center;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      position: relative;
      li {
        font-size: 20px;
        font-size: 19px;
        padding-left: 33px;
        margin-right: 33px;
        font-family: $body-heading-font-family;
        align-self: center;
        font-weight: 900;
        text-transform: $upper-case;
      }
    }
  }

  @media screen and (min-width: 64em) {
    .headline {
      margin-bottom: 59px;
      p {
        max-width: 702px;
        margin: 0 auto;
      }
    }

  }
}

/** Benefit Section **/

.benefit-section {

  background-color: $light-blue-color;
  border-bottom: 1px solid $light-grey-color-2;
  padding-top: 41px;
  padding-bottom: 93px;

  @media screen and (max-width:40em) {
        text-align: center;
  }

  h2 {
    @include headTitleText(50px, 52px, $grey-color, 15px, $upper-case);
  }

  p {
    font-size: 18px;
    margin-bottom: 51px;
  }

  .benefit-list {

    gap: 85px;

    @media screen and (min-width:40em) and (max-width: 74.9375em) {
        gap: 30px;
    }

    .item {

      width: calc(33.33% - 85px);
      
      @media screen and (min-width:40em) and (max-width: 74.9375em) {
        width: calc(33.33% - 30px);
      }

      @media screen and (max-width:40em) and (max-width: 74.9375em) {
        width: 100%;
      }

      img {
        margin-bottom: 33px;
        border-radius: 19px;
      }

      h3 {
        @include headTitleText(23px, 22px, $grey-color, 20px, $upper-case);
        
        @media screen and (max-width:40em) {
          width: 100%;
        }
      }
      
      p {
          font-size: 15px;
          line-height: 20px;
          margin-top:auto;
          margin-bottom: 0;
      }

    }

  }

}


/** Featured Product Section **/

.feature-product-section {

  padding-top: 79px;
  padding-bottom: 68px;
  background-color: $white-color;
  border-bottom: 1px solid $light-grey-color-2;

  @media screen and (max-width: 40em) {
    text-align: center;
  }

  .highlightText{
    @include highlightText();
    margin-bottom:28px;

    @media screen and (max-width: 40em) {
      margin: 0 auto;
      margin-bottom: 28px;
    }

  }

  h2 {
    @include headTitleText(50px, 52px, $grey-color, 22px, $upper-case);

    @media screen and (max-width:40em) {
      text-align: center;
      width: 100%;
    }
  }
  
  p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 47px;
  }

  .higlightText2 {
    margin-bottom: 15px
  }

  ul {
    @include customBullet();
    li {
      margin-bottom: 24px;
    }

    @media screen and (max-width: 64em) {
      width: 100%;
      margin-bottom: 30px;
    }

  }

  img {
    max-height: 512px;

    @media screen and (max-width: 40em) {
      margin-top: 50px;
    }

  }
  
  button {

    @include ctaButton(17px 40px 23px, 18px, $dark-blue-color, 35px);
    margin-top: 9px;

    del {
      color :  $light-grey-color-3;
      opacity: 0.2;
      }

    @media screen and (max-width: 40em) {
      margin: 0 auto;
    }

  }

}

/** Ingredients Section **/

.ingredients-section {

  background-color: $light-blue-color;
  padding-bottom: 140px;
  padding-top: 99px;

  .headline {

    @media screen and (max-width: 40em) {
      text-align: center;
    }
    
    h2 {
      @include headTitleText(80px, 72px, $grey-color, 31px, $upper-case); 

          
    @media screen and (max-width: 40em) {
      @include headTitleText(50px, 50px, $grey-color, 31px, $upper-case);
    }

  }

    button {
      @include ctaButton(17px 40px 23px, 18px, $yellow-color, 35px);
      text-transform: uppercase;
      color: $grey-color;
      margin-bottom: 56px;
    }

  }

  .ingredients-list {

    .img-thumb {
      width: 132px;
      height: 132px;
      margin-right: 26px;
      border-radius: 19px;
      display: block;
      overflow: hidden;
    }

    .icon-card {
      margin-bottom: 54px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .info {

      color: $light-grey-color-4;

      h3 {
        margin-bottom: 11px;
        font-family: $body-font-family-new;
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
      }

      p {
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        color: $light-grey-color-4;
      }

    }

  }

}

/** Formula Section **/

.formula-section {
  
  background-color: $dark-blue-color-2;
  color: $white-color;
  padding-bottom: 105px;
  padding-top: 136px;

  .headline {
    margin-bottom: 57px;
    .grid-x .headline {
      margin-bottom: 94px;
    }
    p.highlightText {
      @include highlightText();
      color: $light-grey-color;
      display: inline-block;
      margin-bottom: 60px;
    }
    h2 {
      @include headTitleText(80px, 52px, $white-color, 31px, $upper-case);
      margin-bottom: 21px;

      @media screen and (max-width: 74.9375em) {
        @include headTitleText(50px, 52px, $white-color, 31px, $upper-case);
      }

    }

    h4 {
      font-family: $body-font-family-new;
      color:$yellow-color;
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
      text-align: center;
      margin:0;
    }

    p {
      font-size: 18px;
      line-height: 24px;
    }
  }

  .formula-item {

    &.mobile-column-reverse-position {
      @media screen and (max-width: 40em) {
        flex-direction: column-reverse;
      }
    }
  

    h3 {
      @include headTitleText(50px, 52px, $white-color, 18px, $upper-case);
    }
    p {
      font-size: 18px;
    }

    .item-1 {
      img {
        max-height: 462px;
        width: auto;
      }
    }

    .item-2 {
      img {
        max-height: 360px;
        width: auto;
      }
    }

    .item-3 {
      img {
        max-height: 481px;
        width: auto;
      }
    }

    @media screen and (max-width: 40em) {
        text-align: center
    }
    
  }

  .testimonials {

    gap: 25px;

    .item {
      background-color: $white-color;
      color: $light-grey-color-4;
      border-radius: 39px;
      padding:21px 28px;

      p {
        font-size: 16px;
        line-height: 20px;
      }
    
      .star-ratings {
        margin-bottom: 15px;
        display: block;
        height: auto;
        line-height: 0;
      }

    }

    img {
      max-height: 18px;
      width: auto;
    }

      .author {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        margin-top: auto;

        .name {
          display:block;
          color: $blue-color;
          font-size: 15px;
          line-height: 16px;
          margin-bottom: 4px;
        }

        .designation {
          font-size: 12px;
        }

        img {
          max-height: 54px;
          width: auto;
        }
      }

  }

  @media screen and (min-width: 40em) {
    
    .formula-item.grid-x {
      max-width: 820px;
      margin: 0 auto;
    }

    .testimonials {
      .item {
        width: calc(33.33% - 25px);
      }
    }

  }
 
}

/** Fans Section **/

.fans-section {

  padding-top: 108px;
  padding-bottom: 80px;

  .grid-container {
    max-width: 1440px;
  }

  .headline {
    h2 {
      @include headTitleText(50px, 52px, $light-grey-color, 43px, $upper-case);
      text-align: center;
    }
  }

  .fans-cards {

    gap: 25px;

    .item {
      
      background-image: url(../images/fans-bg.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; 
      border-radius: 30px;
      padding: 10px;
      

      @media screen and (min-width: 64em) {
        width: calc(25% - 25px);
      }

      @media screen and (min-width: 40em) and (max-width: 64em) {
        width: calc(50% - 25px);
      }

      .audio-controls {
        margin-bottom: 79px;
      }

      .watermark {
        color: $light-grey-color-3;
      }

      .audio-button {
        height: 38px;
        width: 38px;
        background-color: $white-color;
        border: 1px solid $blue-color;
        border-radius: 50px;
        text-align: center;
        display: inline-block;
        display: inline-block;
        line-height: 33px;
      }
    
      .play-button {
        height: 68px;
        width: 68px;
        background-color: $white-color;
        border: 1px solid $blue-color;
        border-radius: 100px;
        text-align: center;
        display: block;
        line-height: 33px;
        margin: 0 auto;
      }

      .fans-card {
        margin-top: 162px;
        background-color: $white-color;
        padding: 13px 15px;
        border-radius: 20px;

        .star-ratings {
          img {
            max-height: 10px;
            margin-bottom: 5px;
          }
        }

        .button {
          @include ctaButton(15px 35px, 18px, $dark-blue-color, 35px);
          margin-left: auto;
        }

        .prod-info {

          h3 {
            font-size: 15px;
            line-height: 16px;
            color: $blue-color;
            font-weight: 400;
            margin-bottom: 0;
          }

          p {
            font-size: 14px;
            line-height: 24px;
            color: $light-grey-color-4;
            margin-bottom: 0;
          }

        }

      }

    }

  }

}

/** Footer Section **/

footer {

  background-color: $dark-blue-color;
  color: $light-grey-color-5;

  .top-footer {

    padding-top: 49px;

    .headline {

      @media screen and (max-width: 40em) {
        flex-direction: column-reverse;
        align-items: start;
        gap: 15px;
      }

    }

    .footer-form {
      margin-top: 29px;
    }

    .content-text {
      margin-right: auto;
    }

    h3 {
      font-size: 21px;
      line-height: 21px;
      font-weight: 700;
      margin-bottom: 19px;
      text-transform: $upper-case;
    }

    p {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 0;
    }

    img {
      max-height: 55px ;
    }

    .input-group {

      input {
        font-size: 14px;
        line-height: 18px;

        &.input-group-field {
          padding: 30.5px 22px;
        }

        &.button {
          border: 7px solid $white-color;
          background-color: $dark-blue-color;
          text-transform: $upper-case;
        }

      }
    }
  
  }

  .middle-footer {

    .social-medias {

      margin-top: 8px;
      margin-bottom: 50px;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        gap:6px;

        li {

          a {
            width: 51px;
            height: 51px;
            background-color: $light-grey-color-5;
            border-radius:50px;
            display: block;
            line-height: 47px;
            text-align: center;

            img {
              max-height: 25px;
            }

          }

        }
      }

    }

    .menu-footer {

      h3 {
        font-size: 21px;
        line-height: 21px;
        font-weight: 700;
        margin-bottom: 12px;
        text-transform: $upper-case;
      }

      ul.menu-list {
        margin: 0;
        padding: 0;
        list-style: none;

        @media screen and (max-width: 40em) {
          margin-bottom: 25px;
        }

        li {
        
          a {
            color: $light-grey-color-3;
            font-size: 14px;
            line-height: 22px;
          }
        
        }
      }

    }

    .quote {
      border-radius: 17px;
      padding: 13px 14px;
      border: 1px solid $light-grey-color-3;
      margin-top: 25px;

      p {
        font-size: 11px;
        line-height: 13px;
        margin: 0;
        color: $light-grey-color-3;
      }

    }
    
  }

  .bottom-footer {

      padding-bottom: 39px;
      margin-top: 53px;

      .copyright {
        
        font-size: 14px;
        line-height: 22px;

        a {
          color: $light-grey-color-3;
        }

      }

  }

}